<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h3>{{ site.description | default: site.github.project_tagline }}</h3>


		<!-- NAVIGATION START -->
		<a href="mailto:devon@ankar.io"><b>devon@ankar.io</b></a><br><br>
        <hr>
        <a class="hdr" href="https://github.com/dcadata/va-resource">Data Collection for VA Resource Allocation Study</a><hr>
        <a class="hdr" href="/this-american-life-archive/"><i>This American Life</i> Podcast - Link Archive & Unofficial RSS Feed</a><hr>
        <a class="hdr" href="https://github.com/dcadata/michigan-district-partisanship-index/tree/master/_oakland-county#oakland-county-precinct-level-election-maps">Oakland County election maps, by precinct</a>
        U.S. Elections: <a class="hdr" href="/politics-elections/2018-midterms/anti-establishment-democrats">Did anti-establishment candidates do better?</a> |
		 <a class="hdr" href="/politics-elections/2018-midterms/">Who reps swing districts?</a> |
		 <a class="hdr" href="/politics-elections/2018-midterms/women-candidates-emily-susan">Was 2018 "the Year of the Woman"?</a><hr>
		<a class="hdr" href="/excel-tools/name-popularity-gender-correlation-trends/">First Name Popularity & Gender Trends</a><hr>
        <a class="hdr" href="/social-media/twitter-sentiment-predict-bitcoin">Can Twitter sentiment predict Bitcoin performance?</a><hr>
		<a class="hdr" href="/data-science/dse6000-scraping-analysis-job-boards/">Scraping & Analysis on Data Jobs</a><hr>
		<a class="hdr" href="/data-science/dsb6200-supply-chain-network-design/">Supply Chain Network Design Study</a><hr>
		<a class="hdr" href="/data-science/">More Data Science & Excel Tools</a><hr>
		<a href="mailto:devon@ankar.io"><b>Email</b></a>
          | <a href="https://www.linkedin.com/in/dankar"><b>LinkedIn</b></a><br>
          <a href="https://twitter.com/@devonankar"><b>Twitter</b></a>
          | <a href="https://github.com/dcadata"><b>GitHub</b></a><br><hr>
		<!-- NAVIGATION END -->

		
        <!-- {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul>
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %} -->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!-- {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}-->
		<small>Views expressed on this website are solely my own and do not represent the views of my employer or other entity.<br><br>
		Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small><!--</p>-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
